<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="URL" value="https://www.countries-ofthe-world.com/" />
    <add key="IPURL" value="http://services.ce3c.be/ciprg/" />
    <add key="EuroURL" value="https://www.countries-ofthe-world.com/" />
    <add key="FlagURL" value=" http://flagpedia.net/" />
    <add key="Logs" value="Logs" />    
    <add key="Screenshots" value="Screenshots" />
  </appSettings>
</configuration>